body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

.calendarIcon {
  width: 100%;
  height: 100%;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.weather-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-weather-box {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.pic-container {
  width: 20px;
  height: 20px;
  position: relative;
  left: 54.3vw;
  bottom: 27px;
}

.date-picker-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 84%;
  margin: 0 auto;
}

.react-datepicker-wrapper{
  width: fit-content !important;
}

.react-datepicker__input-container input{
  cursor: pointer;
  display: hidden;
}

.react-datepicker__input-container:active {
  display: block;
}

