*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 270px) {
  input{
    width: 60%;
  }
}

@media screen and (min-width: 300px) {
  input{
    width: 175px;
  }
}

@media screen and (min-width: 480px) {
  input{
    width: 350px;
  }
}

.fill-height {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}



input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  /* width: 25% */
}

.Page {
  display: block;
  align-items: center;
}

.Page h2 {
  font-size: 2vmax;
  margin: 1%;
}

.Results {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 8px;
  color: black;
  padding: 4%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 70%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#map {
 display:flex;
 border-radius: 8px;
 margin: 1em;
}
